---
import type { CollectionEntry } from "astro:content";
import BlogCommentModal from "../../components/BlogCommentModal.astro";
import BlogPostMeta from "../../components/BlogPostMeta.astro";
import {
  blogPostToDateUrlPath,
  blogPostToFullUrlPath,
  getBlogPosts,
} from "../../utils/utils";
import Layout from "../../layouts/Layout.astro";
import { snProps } from "../../consts";
import BlogFooter from "../../components/BlogFooter.astro";

export async function getStaticPaths() {
  const posts = await getBlogPosts();
  return posts.map((post) => ({
    params: { slug: blogPostToDateUrlPath(post) },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;

const posts = await getBlogPosts();

const postIndex = posts.findIndex((p) => p.id === post.id);

const nextPost = posts[postIndex - 1];
const prevPost = posts[postIndex + 1];

const {
  title,
  description,
  date,
  author,
  comment_status,
  special_byline,
  tags,
} = post.data;

const { Content } = await post.render();
---

<!-- TODO: make description non-nullable and add descriptions to all blog posts. -->
<Layout
  title={title}
  description={description ?? ""}
  isBlog={true}
  {...snProps}
>
  <article class="post">
    <h1 class="title is-3">{title}</h1>
    <header class={"blogHeader"}>
      <BlogPostMeta
        date={date}
        author={author}
        special_byline={special_byline}
        tags={tags}
      />
    </header>
    <div class={"pageContent blogPostContent"}>
      <Content />
    </div>
    <BlogFooter>
      {
        comment_status === "open" && (
          <div>
            Want to comment? Please{" "}
            <BlogCommentModal>
              <span class="blogFooterNonAnchor">send it by email</span>
            </BlogCommentModal>{" "}
            and we will add it to the post.
          </div>
        )
      }
    </BlogFooter>
  </article>
  <nav>
    {
      nextPost && (
        <>
          <div>Next Post:</div>
          <div>
            <a
              href={blogPostToFullUrlPath(nextPost)}
              rel="next"
              class={"nextOrPreviousLink"}
            >
              {nextPost.data.title}
            </a>
          </div>
        </>
      )
    }
    {
      prevPost && (
        <>
          <div class={"previousPostText"}>Previous Post:</div>
          <div>
            <a
              href={blogPostToFullUrlPath(prevPost)}
              rel="prev"
              class={"nextOrPreviousLink"}
            >
              {prevPost.data.title}
            </a>
          </div>
        </>
      )
    }
  </nav>
</Layout>

<style>
  /* Header - shown after title and before post body */

  .blogHeader {
    color: hsl(0, 0%, 45.9%);
    font-size: 13px;
    margin: 0.6rem 0 2rem;
  }

  .blogHeader :global(a) {
    color: hsl(0, 0%, 45.9%);
  }

  /* Blog post content */

  /* Styles taken from Bulma ".title" and ".is-5" etc. */
  /* 2rem is default font-size for ".title" */
  .blogPostContent :global(h2),
  .blogPostContent :global(h3) {
    color: hsl(0, 0%, 21.2%);
    font-weight: 600;
    line-height: 1.125;
    word-break: break-word;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .blogPostContent :global(h2) {
    /* 1.5rem is "is-4" */
    font-size: 1.5rem;
  }

  .blogPostContent :global(h3) {
    /* 1.25rem is "is-5" */
    font-size: 1.125rem;
  }

  .blogPostContent :global(img) {
    margin: 1.5em 0;
  }

  /* Make a span look like an <a> tag / link, but without the href etc. */
  .blogFooterNonAnchor {
    color: hsl(0, 0%, 45.9%);
    text-decoration: underline;
    cursor: pointer;
  }

  /* Next post and previous post links */

  .nextOrPreviousLink {
    color: #1776bf;
    font-weight: bold;
    text-decoration: none !important;
  }

  .nextOrPreviousLink:hover {
    text-decoration: underline !important;
  }

  .previousPostText {
    margin-top: 1.5rem;
  }
</style>
