---
import BlogPostList from "../../components/BlogPostList.astro";
import { getBlogPosts, yearsFromPosts } from "../../utils/utils";

import Layout from "../../layouts/Layout.astro";
import { snProps } from "../../consts";
import BlogTitle from "../../components/BlogTitle.astro";
import BlogArchivePageTitle from "../../components/BlogArchivePageTitle.astro";

export async function getStaticPaths() {
  const posts = await getBlogPosts();
  const years = yearsFromPosts(posts);

  return years.map((year) => {
    return {
      params: { year },
      props: { year },
    };
  });
}

export type Props = { year: string };

const { year } = Astro.props;

const posts = await getBlogPosts(
  (p) => year === String(p.data.date.getFullYear())
);

const title = `Posts from ${year}`;
---

<Layout title={title} description={title} isBlog={true} {...snProps}>
  <BlogTitle>The Clairnote Blog</BlogTitle>
  <BlogArchivePageTitle>{title}</BlogArchivePageTitle>
  <BlogPostList posts={posts} />
</Layout>
