---
import NewsletterSubscriptionForm from "../../components/NewsletterSubscriptionForm.astro";
import { snProps } from "../../consts";
import Layout from "../../layouts/Layout.astro";

const title = "Follow the Clairnote Blog by Email";
const description =
  "Get occasional emails announcing new posts on the Clairnote blog.";
---

<Layout title={title} description={description} isBlog={true} {...snProps}>
  <article class="page">
    <h1 class="title is-3">{title}</h1>
    <p>
      Subscribe to the Clairnote Newsletter to get an email when new blog posts
      are published. The newsletter will occasionally contain additional news
      and updates. Typically there are between two and twelve messages per year.
    </p>
    <NewsletterSubscriptionForm sn={true} />
  </article>
</Layout>
