---
import Layout from "../../layouts/Layout.astro";
import { getBlogPosts } from "../../utils/utils";
import BlogPostList from "../../components/BlogPostList.astro";
import { snProps } from "../../consts";
import BlogTitle from "../../components/BlogTitle.astro";

const posts = await getBlogPosts();
---

<Layout
  title="Blog"
  description="News, updates, and developments related to Clairnote music notation systems"
  isBlog={true}
  {...snProps}
>
  <BlogTitle>The Clairnote Blog</BlogTitle>
  <BlogPostList posts={posts} />
</Layout>
