---
import BlogPostList from "../../../components/BlogPostList.astro";
import { snProps } from "../../../consts";
import { getBlogPosts, slugFromTag, tagsFromPosts } from "../../../utils/utils";
import Layout from "../../../layouts/Layout.astro";
import BlogTitle from "../../../components/BlogTitle.astro";
import BlogArchivePageTitle from "../../../components/BlogArchivePageTitle.astro";

export async function getStaticPaths() {
  const posts = await getBlogPosts();
  const tags = tagsFromPosts(posts);

  return tags.map((tag) => {
    const slug = slugFromTag(tag.tagName);
    return {
      params: { slug },
      props: tag,
    };
  });
}

export type Props = { tagName: string; count: number };

const { tagName, count } = Astro.props;

const posts = await getBlogPosts((p) => !!p.data.tags?.includes(tagName));

const tagHeader = `${count} post${
  count === 1 ? "" : "s"
} tagged with "${tagName}"`;
---

<Layout
  title={tagName}
  description={`A list of links to blog posts tagged with "${tagName}"`}
  isBlog={true}
  {...snProps}
>
  <BlogTitle>The Clairnote Blog</BlogTitle>
  <BlogArchivePageTitle>{tagHeader}</BlogArchivePageTitle>
  <BlogPostList posts={posts} />
</Layout>
