---
import Layout from "../../../layouts/Layout.astro";
import { snProps } from "../../../consts";
import { getBlogPosts, slugFromTag, tagsFromPosts } from "../../../utils/utils";
import BlogTitle from "../../../components/BlogTitle.astro";
import BlogArchivePageTitle from "../../../components/BlogArchivePageTitle.astro";

const posts = await getBlogPosts();
const tags = tagsFromPosts(posts);
---

<Layout
  title="Posts by Tag"
  description="Links to lists of posts by tag."
  isBlog={true}
  {...snProps}
>
  <article class="page">
    <BlogTitle>The Clairnote Blog</BlogTitle>
    <BlogArchivePageTitle>Posts by Tag</BlogArchivePageTitle>
    <div>
      {
        tags
          .sort((a, b) => b.count - a.count)
          .map((tag) => (
            <p>
              <a href={`/blog/tag/${slugFromTag(tag.tagName)}/`}>
                {`${tag.tagName} (${tag.count} Post${
                  tag.count === 1 ? "" : "s"
                })`}
              </a>
            </p>
          ))
      }
    </div>
  </article>
</Layout>
