/* Similar to Bulma's is-light button style, but not quite as light. */
.buttonLight {
  background-color: hsl(0, 0%, 93.3%); /*  #eee */
}

.buttonLight:hover {
  background-color: hsl(0, 0%, 90%);
}

.imageContainer {
  margin: 3em 0;
  text-align: center;
}

/* To be used as the child of an `.imageContainer`. */
.thumbnailImageContainer {
  width: 310px;
  margin: 0 auto;
}

.caption {
  margin: 1em 0 2em;
  font-size: smaller;
  font-style: italic;
}

.videoBoxed {
  /* Bulma sets `height: auto;`. The best way to override that appears to
     be by using a `style` property on the <video>. */
  /* height: unset; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.listTitle {
  margin-bottom: 0.45em;
}
