:root {
  /* Used for light grey areas in header and footer. */
  /* Similar to bulma's $grey-lighter which is hsl(0, 0%, 86%).
     Bulma uses that for top of navbar dropdown panel. */
  --grey-lighter-border: hsl(0, 0%, 84%);
  --grey-lighter-background: hsl(0, 0%, 90%);
  /* --grey-darker-background: hsl(0, 0%, 80%); */
}
