.gameWrapper {
  margin-top: 0px;
}

.controlsTop {
  margin-bottom: 20px;
}

.scoreBoard {
  margin-bottom: 0.5em;
}

.intervalButtonsCaption {
  font-size: small;
  color: #666;
  clear: both;
  margin-top: 10px;
}

.feedback {
  font-weight: bold;
  padding: 0px;
  margin: -30px 0 10px;
  color: #000;
  min-height: 30px;
}

.trumpetButtonText {
  font-family: Georgia;
  font-size: 26px;
}

.wideText {
  display: none;
}

.narrowText {
  display: inline;
}

.checked,
.checked[disabled] {
  background: var(--grey-lighter-background);
}

.unchecked {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 86%);
  box-shadow: none;
  opacity: 0.5;
}

.radioColumn {
  text-align: left;
  display: inline-block;
}

@media screen and (min-width: 630px) {
  .wideText {
    display: inline;
  }

  .narrowText {
    display: none;
  }

  .gameTypeSelect {
    min-width: 196px;
  }
}
