---
import Layout from "../layouts/Layout.astro";
import type { PageComponentProps } from "../types/types";
import { AudioVisualizer } from "../components/AudioVisualizer/AudioVisualizer";

import PageTitle from "../components/PageTitle.astro";

type Props = PageComponentProps;
const props = Astro.props;

const { clairnoteName, urlDir, otherClairnoteName, sn } = props;

const title = "About";
const description = `Learn all about ${clairnoteName} music notation. See and hear scales, intervals, modes, etc.`;
---

<Layout title={title} description={description} {...props}>
  <article class="page">
    <PageTitle>{title}</PageTitle>
    <p>
      Learn all about {clairnoteName} and how it makes music easier to read and learn.
      Start with this interactive "AudioVisualizer" which lets you see and hear the
      notes that you play on an on-screen keyboard (or a{" "}
      <a
        title="About 6-6 Janko-style Keyboard Layout"
        href="http://musicnotation.org/wiki/instruments/janko-keyboard"
        target="_blank"
      >
        Janko-style keyboard
      </a>
      , guitar, violin, or mandolin).
    </p>
    <AudioVisualizer client:load sn={sn} inputMode="keyboard-trad" />
    <p>
      In addition to the notes you play, you can also see and hear scales,
      intervals, and modes. For more discussion and illustrations check out the <a
        href={urlDir + "staff/"}>Staff</a
      >,{" "}
      <a href={urlDir + "scales/"}>Scales</a>, and{" "}
      <a href={urlDir + "intervals/"}>Intervals</a> pages.
    </p>
    <p>
      (Note that {clairnoteName}'s <a href={urlDir + "clefs/"}>clefs</a>,{" "}
      <a href={urlDir + "key-signatures/"}>key signatures</a>, and{" "}
      <a href={urlDir + "accidental-signs/"}>accidental signs</a> are not shown above.
      When these elements are included {clairnoteName} conveys all of the same information
      conveyed by traditional notation.)
    </p>
    <p>
      To learn more about {clairnoteName}, begin with the staff and then explore
      how {clairnoteName} represents common musical patterns:
    </p>
    <ul>
      <li>
        <a href={urlDir + "staff/"}>Staff</a>
      </li>
      <li>
        <a href={urlDir + "scales/"}>Scales</a>
      </li>
      <li>
        <a href={urlDir + "intervals/"}>Intervals</a>
      </li>
      <li>
        <a href={urlDir + "chords/"}>Chords</a>
      </li>
    </ul>
    <p>
      Next learn about all the various aspects of {clairnoteName} as an alternative
      music notation system:
    </p>
    <ul>
      <li>
        <a href={urlDir + "clefs/"}>Clefs</a>
      </li>
      <li>
        <a href={urlDir + "key-signatures"}>Key Signatures</a>
      </li>
      <li>
        <a href={urlDir + "accidental-signs/"}>Accidental Signs</a>
      </li>
      <li>
        <a href={urlDir + "names-of-notes-and-intervals/"}>
          Names of Notes and Intervals
        </a>
      </li>
      <li>
        <a href={urlDir + "rhythm-notation/"}>Rhythm Notation</a>
      </li>
      <li>
        <a href={urlDir + "faq/"}>FAQ</a>
      </li>
    </ul>
    <p>
      Check out {otherClairnoteName}, a notation system that's similar to{" "}
      {clairnoteName}:
    </p>
    <ul>
      <li>
        <a href={urlDir + "clairnote-dn-clairnote-sn/"}>
          {clairnoteName} and {otherClairnoteName}
        </a>
      </li>
    </ul>
  </article>
</Layout>
