---
import Layout from "../layouts/Layout.astro";
import type { PageComponentProps } from "../types/types";

import PageTitle from "../components/PageTitle.astro";

type Props = PageComponentProps;
const props = Astro.props;

const { clairnoteName, urlDir } = props;

const title = "Blank Staff Paper";
const description = `Blank staff paper for writing music by hand in ${clairnoteName} music notation. Download PDF files with two, three, or four-octave staves.`;
---

<Layout title={title} description={description} {...props}>
  <article class="page">
    <PageTitle>{title}</PageTitle>
    <div>
      <p>
        Print the following PDF files to write music by hand in{" "}
        {clairnoteName}. The first file has standard two-octave{" "}
        {clairnoteName} staves, the second has three-octave staves, and the third
        has four-octave "grand staves" for piano. You can also download the LilyPond
        files that were used to generate each PDF file. They can be used to produce
        blank staff paper with larger or smaller staves and different numbers of
        staves per page. (The LilyPond files require the <code
          >clairnote.ly</code
        > file. See{" "}
        <a href={urlDir + "software/"}>Software: LilyPond</a>
        .)
      </p>
      <p>
        <strong>Two-Octave {clairnoteName} Staves</strong>
      </p>
      <p>
        <a
          href={"/pdf/blank-staff-paper/Blank-staff-paper-Clairnote-2octave.pdf"}
          target="_blank"
          rel="noopener noreferrer"
        >
          PDF File
        </a>
        <br />
        <a
          href={"/pdf-ly/blank-staff-paper/Blank-staff-paper-Clairnote-2octave.ly"}
        >
          LilyPond File
        </a>
      </p>
      <p>
        <strong>Three-Octave {clairnoteName} Staves</strong>
      </p>
      <p>
        <a
          href={"/pdf/blank-staff-paper/Blank-staff-paper-Clairnote-3octave.pdf"}
          target="_blank"
          rel="noopener noreferrer"
        >
          PDF File
        </a>
        <br />
        <a
          href={"/pdf-ly/blank-staff-paper/Blank-staff-paper-Clairnote-3octave.ly"}
        >
          LilyPond File
        </a>
      </p>
      <p>
        <strong>Four-Octave {clairnoteName} Staves (for Piano)</strong>
      </p>
      <p>
        <a
          href={"/pdf/blank-staff-paper/Blank-staff-paper-Clairnote-4octave-piano.pdf"}
          target="_blank"
          rel="noopener noreferrer"
        >
          PDF File
        </a>
        <br />
        <a
          href={"/pdf-ly/blank-staff-paper/Blank-staff-paper-Clairnote-4octave-piano.ly"}
        >
          LilyPond File
        </a>
      </p>
    </div>
  </article>
</Layout>
