---
import Layout from "../layouts/Layout.astro";
import type { PageComponentProps } from "../types/types";

import PageTitle from "../components/PageTitle.astro";

type Props = PageComponentProps;
const props = Astro.props;

const title = "Contact Us";
const description = "Contact information.";
---

<Layout title={title} description={description} {...props}>
  <article class="page">
    <PageTitle>{title}</PageTitle>
    <p>
      Feel free to reach out with questions, comments, or for any other reason.
      Please send an email to:
    </p>
    <p>[...] at [...] dot org</p>
    <p>Replace both of the missing parts with "clairnote".</p>
    <p>(Obfuscated to thwart spam bots.)</p>
  </article>
</Layout>
