---
import Layout from "../layouts/Layout.astro";
import type { PageComponentProps } from "../types/types";

import PageTitle from "../components/PageTitle.astro";

type Props = PageComponentProps;
const props = Astro.props;

const { clairnoteName, otherUrlDir, sn, urlDir } = props;

const title = "Handwritten Sheet Music";
const description = `Examples of handwritten sheet music in ${clairnoteName} music notation.`;
---

<Layout title={title} description={description} {...props}>
  <article class="page">
    <PageTitle>{title}</PageTitle>
    <div>
      {
        sn ? (
          <>
            <p>
              Currently there are only examples of{" "}
              <a href={otherUrlDir + "handwritten-sheet-music/"}>
                handwritten sheet music
              </a>{" "}
              for <a href={otherUrlDir}>Clairnote DN</a> and not{" "}
              <a href={urlDir}>Clairnote SN</a>.
            </p>
          </>
        ) : (
          <>
            <p>
              {clairnoteName} music notation is easy to write by hand. Below are
              links to some examples of handwritten {clairnoteName} sheet music.
              They have been generously contributed by a {clairnoteName} user
              and are mostly music for guitar. All of the works are in the
              public domain and freely available in PDF format.
            </p>
            <p>
              <strong>J. S. Bach</strong>
            </p>
            <ul>
              <li>
                <a
                  href={"/pdf/handwritten/dn/JSBach-bwv1002-double.pdf"}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  JSBach-bwv1002-double
                </a>{" "}
                – the third Double taken from Partita No. 1 for solo violin (BWV
                1002)
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={"/pdf/handwritten/dn/12-kleine-Praludien-no-1.pdf"}
                >
                  12 Kleine Praludien no 1
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={"/pdf/handwritten/dn/sarabande-guitar-Bach.pdf"}
                >
                  Sarabande (guitar)
                </a>
              </li>
            </ul>
            <p>
              <strong>T. Campion</strong>
            </p>
            <ul>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={"/pdf/handwritten/dn/when-to-her-lute.pdf"}
                >
                  When to Her Lute...
                </a>
              </li>
            </ul>
            <p>
              <strong>M. Giuliani</strong>
            </p>
            <ul>
              <li>
                <a
                  href={"/pdf/handwritten/dn/Giuliani-andantino.pdf"}
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  Andantino
                </a>
              </li>
            </ul>
            <p>
              <strong>C. Gounod</strong>
            </p>
            <ul>
              <li>
                <a
                  href={
                    "/pdf/handwritten/dn/GounodC-funeral-march-marionette.pdf"
                  }
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  Funeral March of a Marionette
                </a>
              </li>
            </ul>
            <p>
              <strong>H. Lawes</strong>
            </p>
            <ul>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={"/pdf/handwritten/dn/Delicate-Beauty.pdf"}
                >
                  Delicate Beauty
                </a>
              </li>
            </ul>
            <p>
              <strong>D. Kellner</strong>
            </p>
            <ul>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={"/pdf/handwritten/dn/Courante-guitar-Kellner.pdf"}
                >
                  Courante (guitar)
                </a>
              </li>
            </ul>
            <p>
              <strong>F. Sor</strong>
            </p>
            <ul>
              <li>
                <a
                  href={"/pdf/handwritten/dn/Sor-ex-20.pdf"}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Sor-ex-20
                </a>
              </li>
              <li>
                <a
                  href={"/pdf/handwritten/dn/Sor-lesson.pdf"}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Sor-lesson
                </a>
              </li>
              <li>
                <a
                  href={"/pdf/handwritten/dn/Sor-opus-31.pdf"}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Sor-opus-31
                </a>
              </li>
              <li>
                <a
                  href={"/pdf/handwritten/dn/Sor-opus-31-study-Bm.pdf"}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Sor-opus-31-study-Bm
                </a>
              </li>
              <li>
                <a
                  href={"/pdf/handwritten/dn/Sor-prière-religieuse.pdf"}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Sor-priere-religieuse
                </a>
              </li>
            </ul>
            <p>
              <strong>R. Visee</strong>
            </p>
            <ul>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={"/pdf/handwritten/dn/Tombeau-de-M-Mouton.pdf"}
                >
                  Tombeau de M Mouton
                </a>
              </li>
            </ul>
            <p>
              <strong>Anonymous Works</strong>
            </p>
            <ul>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={
                    "/pdf/handwritten/dn/Anonymous-Fantasia-renaissance.pdf"
                  }
                >
                  Anonymous-Fantasia-renaissance
                </a>
              </li>
            </ul>
            <p>
              <strong>
                Traditional Works
                <br />
              </strong>
            </p>
            <ul>
              <li>
                <a
                  href={
                    "/pdf/handwritten/dn/Traditional-Killavil-Jig-Hags-Purse.pdf"
                  }
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Traditional-Killavil-Jig-Hags-Purse
                </a>
              </li>
              <li>
                <a
                  href={
                    "/pdf/handwritten/dn/Traditional-Mazurka-des-Escoliers.pdf"
                  }
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Traditional-Mazurka-des-Escoliers
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={
                    "/pdf/handwritten/dn/Traditional-Chief-O-Neills-hornpipe.pdf"
                  }
                >
                  Traditional-Chief-O-Neills-hornpipe
                </a>
              </li>
            </ul>
            <p>
              Create your own handwritten sheet music using{" "}
              <a title="Blank Staff Paper" href={urlDir + "blank-staff-paper/"}>
                blank staff paper
              </a>{" "}
              or check out the{" "}
              <a title="Sheet Music Library" href={urlDir + "sheet-music"}>
                sheet music
              </a>{" "}
              collection which offers free sheet music engraved by LilyPond
              software.
            </p>
          </>
        )
      }
    </div>
  </article>
</Layout>
