---
import Layout from "../layouts/Layout.astro";
import pageStyles from "../styles/page.module.css";

import type { PageComponentProps } from "../types/types";
import VideoKiosk from "../components/VideoKiosk.astro";

import BlueDanubeExcerptDn from "../images/svg-dn/Clairnote-blue-danube-excerpt.svg";
import BlueDanubeExcerptSn from "../images/svg-sn/Clairnote-blue-danube-excerpt.svg";

import CMajorScaleMajorThirdsMinorThirdsTmnDn from "../images/svg-dn/Clairnote-C-major-scale-major-thirds-minor-thirds-tmn.svg";
import CMajorScaleMajorThirdsMinorThirdsTmnSn from "../images/svg-sn/Clairnote-C-major-scale-major-thirds-minor-thirds-tmn.svg";

import CMajorScaleWholeStepsHalfStepsQuarterNotesTmnDn from "../images/svg-dn/Clairnote-C-major-scale-whole-steps-half-steps-quarter-notes-tmn.svg";
import CMajorScaleWholeStepsHalfStepsQuarterNotesTmnSn from "../images/svg-sn/Clairnote-C-major-scale-whole-steps-half-steps-quarter-notes-tmn.svg";

import ClairnoteAndTraditionalKeySignatureAccidentalSignsBriefDn from "../images/svg-dn/Clairnote-and-traditional-key-signature-accidental-signs-brief.svg";
import ClairnoteAndTraditionalKeySignatureAccidentalSignsBriefSn from "../images/svg-sn/Clairnote-and-traditional-key-signature-accidental-signs-brief.svg";

import ClairnoteBasicStaffPositionsHalfStepsCloseUpDn from "../images/svg-dn/Clairnote-basic-staff-positions-half-steps-close-up.svg";
import ClairnoteBasicStaffPositionsHalfStepsCloseUpSn from "../images/svg-sn/Clairnote-basic-staff-positions-half-steps-close-up.svg";

import ClairnoteChromaticScaleHalfStepsQuarterNotesTmnDn from "../images/svg-dn/Clairnote-chromatic-scale-half-steps-quarter-notes-tmn.svg";
import ClairnoteChromaticScaleHalfStepsQuarterNotesTmnSn from "../images/svg-sn/Clairnote-chromatic-scale-half-steps-quarter-notes-tmn.svg";

import ClefsAndOctavesComparisonDn from "../images/svg-dn/Clairnote-clefs-and-octaves-comparison.svg";
import ClefsAndOctavesComparisonSn from "../images/svg-sn/Clairnote-clefs-and-octaves-comparison.svg";

import HalfNotesQuarterNotesBriefDn from "../images/svg-dn/Clairnote-half-notes-quarter-notes-brief.svg";

import OctavesCMajorQuarterNotesTmnDn from "../images/svg-dn/Clairnote-octaves-C-major-quarter-notes-tmn.svg";
import OctavesCMajorQuarterNotesTmnSn from "../images/svg-sn/Clairnote-octaves-C-major-quarter-notes-tmn.svg";
import LilyPondSvg from "../components/LilyPondSvg.astro";

type Props = PageComponentProps;
const props = Astro.props;

const title = props.clairnoteName;
const description = `${props.clairnoteName} is an alternative music notation system that represents intervals clearly and is easier to learn, improving upon traditional music notation.`;
---

<Layout fullTitle={title} description={description} {...props}>
  <article class="page">
    <h1 class={`title is-1 homeTitle`}>{title}</h1>
    <div>
      <h2 class={"title is-4 homeSubtitle"}>
        An alternative music notation system that makes music easier to read and
        understand.
      </h2>
      <div class={pageStyles.imageContainer}>
        <figure>
          <LilyPondSvg
            data={props.dn ? BlueDanubeExcerptDn : BlueDanubeExcerptSn}
            alt={`Excerpt from The Blue Danube Waltz in ${props.clairnoteName} music notation`}
            loading={"eager"}
            decoding={"sync"}
          />
          <figcaption class={pageStyles.caption}></figcaption>
        </figure>
      </div>

      <h2 class={"title is-4 homeHeading"} style={{ maxWidth: "450px" }}>
        Notes and intervals are represented clearly and consistently.
      </h2>
      <div class={pageStyles.imageContainer}>
        <figure>
          <LilyPondSvg
            data={props.sn
              ? ClairnoteBasicStaffPositionsHalfStepsCloseUpSn
              : ClairnoteBasicStaffPositionsHalfStepsCloseUpDn}
            alt={`The four basic staff positions in ${props.clairnoteName}`}
          />
        </figure>
        {
          /* <figcaption class={pageStyles.caption}>
              Notes appear (1) on a line, (2) "sitting" above a line,{" "}
              {props.sn ? (
                <>(3) on a ledger line between two lines,</>
              ) : (
                <>(3) "hovering" right between two lines,</>
              )}{" "}
              and (4) "hanging" below a line.
            </figcaption> */
        }
      </div>
      <p class={props.sn ? "homeCenteredText" : ""}>
        Notes appear on a staff line or in one of three vertical positions
        between them. Adjacent staff positions are always a half step apart (one
        semitone).
      </p>
      {
        props.dn && (
          <>
            <p>
              Whether a note is solid or hollow is its most prominent visual
              feature, so {props.clairnoteName} uses this solid/hollow
              distinction to help convey <em>pitch</em> rather than duration.
              The vertical positions on the staff alternate regularly between
              solid and hollow noteheads. This makes individual notes easier to
              identify and interval relationships easier to see. Half notes have
              a double stem to distinguish them from quarter notes, otherwise{" "}
              {props.clairnoteName} uses traditional rhythm symbols.
            </p>
            <div class={pageStyles.imageContainer}>
              <LilyPondSvg
                data={HalfNotesQuarterNotesBriefDn}
                alt={`Half notes and quarter notes in ${props.clairnoteName}`}
              />
            </div>
          </>
        )
      }

      <h2 class={"title is-4 homeHeading"} style={{ maxWidth: "600px" }}>
        The connection between what you see and what you play and hear is
        simple, direct, and intuitive.
      </h2>
      <div class={pageStyles.imageContainer}>
        <figure>
          <LilyPondSvg
            data={props.sn
              ? CMajorScaleWholeStepsHalfStepsQuarterNotesTmnSn
              : CMajorScaleWholeStepsHalfStepsQuarterNotesTmnDn}
            alt={"C major scale in " +
              props.clairnoteName +
              " and traditional music notation"}
          />
          <figcaption class={pageStyles.caption}>
            C Major Scale in {props.clairnoteName} and Traditional Notation
          </figcaption>
        </figure>
      </div>

      <p>
        The interval relationships between notes are visible and explicit. For
        example, you can see the patterns of whole steps and half steps that
        make up typical scales, like the C major scale shown above.{" "}
        {
          props.sn ? (
            <>
              (Whole steps are always line-line or space-space. Half steps are
              always line-space or space-line.)
            </>
          ) : (
            <>
              (The notes of whole steps are always solid-solid or hollow-hollow,
              while the notes of half steps are always solid-hollow or
              hollow-solid.)
            </>
          )
        }
      </p>
      {
        /* <p>
            On the traditional staff the difference between half steps and whole
            steps is not visible because adjacent staff positions can be either
            a half step or a whole step apart (1 or 2 semitones). Moreover, the
            positions of the half steps and whole steps change with the key
            signature.
          </p> */
      }

      <h2 class={"title is-4 homeHeading"}>
        Each note of the chromatic scale has its own line or space on the staff.
      </h2>
      <div class={pageStyles.imageContainer}>
        <figure>
          <LilyPondSvg
            data={props.sn
              ? ClairnoteChromaticScaleHalfStepsQuarterNotesTmnSn
              : ClairnoteChromaticScaleHalfStepsQuarterNotesTmnDn}
            alt={`Chromatic scale in ${props.clairnoteName} and traditional music notation`}
          />
        </figure>
        <figcaption class={pageStyles.caption}>
          Chromatic Scale in {props.clairnoteName} and Traditional Notation
        </figcaption>
      </div>

      <p>
        Notes that have different pitches do not share the same line or space
        (e.g. F and F-sharp). There is a simple one-to-one relationship between
        each key on a piano (white or black) and its corresponding staff
        position. You can simply play the notes as you see them, without having
        to remember the current key signature and any accidental signs.
      </p>

      <h2 class={"title is-4 homeHeading"}>Octaves</h2>
      <p>
        In traditional music notation notes an octave apart do not resemble each
        other. The line pattern of {props.clairnoteName}'s staff cyclically
        repeats with each octave, so notes an octave apart look similar. That
        makes it easy to identify a given note regardless of its octave. As soon
        as you learn to read one octave you can read any octave on the staff.
        This also simplifies playing music in a different octave than the one in
        which it is written.
      </p>
      <div class={pageStyles.imageContainer}>
        <figure>
          <LilyPondSvg
            data={props.dn
              ? OctavesCMajorQuarterNotesTmnDn
              : OctavesCMajorQuarterNotesTmnSn}
            alt={`Octaves in ${props.clairnoteName} and traditional music notation`}
          />
          <figcaption class={pageStyles.caption}>
            Octaves in {props.clairnoteName} and Traditional Notation
          </figcaption>
        </figure>
      </div>

      <h2 class={"title is-4 homeHeading"}>Clefs</h2>
      <p>
        In traditional music notation the notes represented by the lines and
        spaces of the staff change depending on the current clef (treble, bass,
        alto, tenor, etc.). Piano music entails reading in two different clefs
        at once. In {props.clairnoteName} the lines and spaces of the staff look
        the same in every octave and always mean the same thing in every octave.
        There is no need to learn to read different clefs. {props.clairnoteName}
        's{" "}
        <a title="Clef Symbols" href={props.urlDir + "clefs/"}>
          clef symbols
        </a>{" "}
        simply indicate the octave register of the staff.
      </p>
      <div class={pageStyles.imageContainer}>
        <LilyPondSvg
          data={props.dn
            ? ClefsAndOctavesComparisonDn
            : ClefsAndOctavesComparisonSn}
          alt={`Clefs and octaves in ${props.clairnoteName} and traditional notation`}
        />
      </div>

      <h2 class={"title is-4 homeHeading"}>
        Key Signatures and Accidental Signs
      </h2>
      <p>
        In traditional music notation the notes on the staff may be altered by
        accidental signs (sharps, flats, naturals, double sharps, double flats)
        or by one of a dozen or so key signatures that you have to learn and
        keep in mind in order to play the correct notes. With{" "}
        {props.clairnoteName} you can simply play the notes as they appear on the
        staff and learn common musical patterns as you go.
      </p>
      <div class={pageStyles.imageContainer}>
        <LilyPondSvg
          data={props.dn
            ? ClairnoteAndTraditionalKeySignatureAccidentalSignsBriefDn
            : ClairnoteAndTraditionalKeySignatureAccidentalSignsBriefSn}
          alt={`Key signature and accidental signs in ${props.clairnoteName}`}
        />
      </div>
      <p>
        {props.clairnoteName}
        's{" "}
        <a href={props.urlDir + "key-signatures/"} title="Key Signatures">
          key signatures
        </a>{" "}
        and{" "}
        <a href={props.urlDir + "accidental-signs/"} title="Accidental Signs">
          accidental signs
        </a>{" "}
        play a very minimal role in the process of reading and playing notes. They
        provide helpful additional information — all the same information conveyed
        in traditional notation, like the current key, when a note is an accidental
        (i.e. not in the current key), and the different names of enharmonically
        equivalent notes (like G-sharp and A-flat).
      </p>

      <h2 class={"title is-4 homeHeading"}>Intervals and Chords</h2>
      <p>
        In traditional music notation different intervals and chords may look
        the same (e.g. major and minor thirds and triads). In{" "}
        {props.clairnoteName} the differences between intervals are always clearly
        visible. This makes it easy to see the relationship between notes and to
        learn the musical patterns found in chords, scales, melodies, harmonies,
        etc.
      </p>
      <div class={pageStyles.imageContainer}>
        <figure>
          <LilyPondSvg
            data={props.sn
              ? CMajorScaleMajorThirdsMinorThirdsTmnSn
              : CMajorScaleMajorThirdsMinorThirdsTmnDn}
            alt={`Thirds in the key of C Major in ${props.clairnoteName} and traditional music notation`}
          />
          <figcaption class={pageStyles.caption}>
            Thirds in the Key of C Major in {props.clairnoteName} and Traditional
            Notation
          </figcaption>
        </figure>
      </div>
      <p>
        For example, you can see the difference between major and minor thirds,
        the building blocks of chords.{" "}
        {
          props.sn ? (
            <>
              (Major thirds are always line-line or space-space. Minor thirds
              are always line-space or space-line.)
            </>
          ) : (
            <>
              (Major thirds are always solid-solid or hollow-hollow. Minor
              thirds are always solid-hollow or hollow-solid.)
            </>
          )
        }{" "}
      </p>

      <p>
        This facilitates reading music <em>relatively</em> by reading the intervals
        <em>between</em> notes (as a complement to reading the individual notes).
        Improvising and playing by ear involve playing music relatively, by interval
        (by relative pitch), so clearly seeing each interval as you play supports
        learning these skills. See{" "}
        <a title="Intervals" href={props.urlDir + "intervals/"}> Intervals</a>
        ,{" "}
        <a title="Chords" href={props.urlDir + "chords/"}> Chords</a>
        , and{" "}
        <a title="Scales" href={props.urlDir + "scales/"}> Scales</a>
        .
      </p>

      <h2 class={"title is-4 homeHeading"}>Sheet Music Videos</h2>
      <div class={pageStyles.imageContainer}>
        <figure>
          <VideoKiosk
            fileName="Strauss-Blue-Danube-Waltz-Clairnote"
            dn={props.dn}
          />
          <figcaption class={pageStyles.caption}>
            Videos created with{" "}
            <a
              href="http://www.lilypond.org"
              target="_blank"
              rel="external noopener noreferrer"
            >
              LilyPond
            </a>{" "}
            and{" "}
            <a
              href="https://github.com/aspiers/ly2video"
              target="_blank"
              rel="external noopener noreferrer"
            >
              ly2video
            </a>
            , with many thanks to those who work on these projects!
          </figcaption>
        </figure>
      </div>

      <h2 class={"title is-4 homeHeading"}>Sheet Music and Software</h2>
      <p>
        There are currently over 600 works in the {props.clairnoteName}{" "}
        <a href={props.urlDir + "sheet-music/"} title="Sheet Music">
          Sheet Music
        </a>{" "}
        collection, all available to download for free as PDFs. They were created
        with LilyPond – free (open-source) music notation software that anyone can
        use to create new sheet music from scratch or to automatically convert traditional
        music files into{" "}
        {props.clairnoteName}. See{" "}
        <a title="Software: LilyPond" href={props.urlDir + "software/"}>
          Software: LilyPond
        </a>
        . The available sheet music includes a collection of fiddle tunes, a piano
        lesson book, and a sight-singing lesson book.
      </p>
      <p>
        Here are a few well known pieces from the {props.clairnoteName}{" "}
        <a href={props.urlDir + "sheet-music/"} title="Sheet Music">
          Sheet Music
        </a>{" "}
        collection (PDF files):
      </p>
      <ul>
        <li>
          <a
            href={`https://sheet-music.clairnote.org/Twinkle-little-star-Clairnote-${
              props.dn ? "dn" : "sn"
            }-let.pdf`}
            target="_blank"
            rel="noopener noreferrer"
          >
            Twinkle, Twinkle, Little Star
          </a>
          , arranged for piano
        </li>
        <li>
          <a
            href={`https://mutopia-sheet-music.clairnote.org/StraussJJ/O314/blue_danube/blue_danube-${
              props.dn ? "dn" : "sn"
            }-let.pdf`}
            target="_blank"
            rel="noopener noreferrer"
          >
            The Blue Danube Waltz (Main Theme)
          </a>{" "}
          by Johann Strauss Jr., arranged for piano
        </li>
        <li>
          <a
            href={`https://mutopia-sheet-music.clairnote.org/Traditional/greensleeves/greensleeves-${
              props.dn ? "dn" : "sn"
            }-let.pdf`}
            target="_blank"
            rel="noopener noreferrer"
          >
            Greensleeves
          </a>{" "}
          Traditional English melody, arranged for four-part vocal harmony
        </li>
        <li>
          <a
            href={`https://mutopia-sheet-music.clairnote.org/BachJS/BWV846/wtk1-prelude1/wtk1-prelude1-${
              props.dn ? "dn" : "sn"
            }-let.pdf`}
            target="_blank"
            rel="noopener noreferrer"
          >
            Das Wohltemperierte Clavier I, Praeludium I
          </a>{" "}
          by J.S. Bach
        </li>
        <li>
          <a
            href={`https://mutopia-sheet-music.clairnote.org/BeethovenLv/WoO59/fur_Elise_WoO59/fur_Elise_WoO59-${
              props.dn ? "dn" : "sn"
            }-let.pdf`}
            target="_blank"
            rel="noopener noreferrer"
          >
            Für Elise
          </a>{" "}
          by Ludwig van Beethoven, for piano
        </li>
        <li>
          <a
            href={`https://mutopia-sheet-music.clairnote.org/JoplinS/entertainer/entertainer-${
              props.dn ? "dn" : "sn"
            }-let.pdf`}
            target="_blank"
            rel="noopener noreferrer"
          >
            The Entertainer
          </a>{" "}
          by Scott Joplin, for piano
        </li>
        <li>
          <a
            href={`https://mutopia-sheet-music.clairnote.org/JoplinS/maple/maple-${
              props.dn ? "dn" : "sn"
            }-let.pdf`}
            target="_blank"
            rel="noopener noreferrer"
          >
            Maple Leaf Rag
          </a>{" "}
          by Scott Joplin, for piano
        </li>
      </ul>
      <p>
        What next? Explore {props.clairnoteName} with the "AudioVisualizer" on the{
          " "
        }
        <a href={props.urlDir + "about/"} title="About"> About</a>{" "}
        page or play a game to start to learn to read {props.clairnoteName}{" "}
        on the{" "}
        <a href={props.urlDir + "learn/"} title="Learn"> Learn</a>{" "}
        page.
      </p>
    </div>
  </article>
</Layout>

<style>
  .homeTitle {
    margin-top: 16px;
    text-align: center;
  }

  .homeSubtitle {
    text-align: center;
    font-weight: normal;
    line-height: 1.5em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
  }

  .homeHeading {
    margin-top: 4.5rem;
    text-align: center;
    line-height: 1.5em;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  .homeCenteredText {
    text-align: center;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
