---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";

import { Game } from "../components/Game/Game";

import type { PageComponentProps } from "../types/types";

type Props = PageComponentProps;
const props = Astro.props;
const { dn, sn, clairnoteName, urlDir } = props;
const title = "Learn";
const description = `An interactive game for learning to read notes and intervals in ${props.clairnoteName} music notation. Like flash cards but better.`;
---

<Layout title={title} description={description} {...props}>
  <article class="page">
    <PageTitle>{title}</PageTitle>
    <Game client:load sn={sn} />
    <p>
      Learn to read notes and intervals in {clairnoteName} by playing some simple
      games. Click the start button and notes will appear on the upper staff. Then
      play the notes one by one on the keyboard below the staff. This is a fun way
      to interactively practice reading notes on the staff.
    </p>
    <p>
      In addition to the traditional keyboard you can also practice reading
      notes using a{" "}
      <a
        title="About 6-6 Janko-style Keyboard Layout"
        href="http://musicnotation.org/wiki/instruments/janko-keyboard"
        target="_blank"
      >
        Janko-style keyboard
      </a>
      , guitar, violin, or mandolin. For a new challenge, you can select a different
      set of notes by using the menu above the staves. You can also change the number
      of notes or intervals that are shown on the staff by using the "4 at a Time"
      menu.
    </p>
    <p>
      To practice identifying intervals, start with the "Intervals: Number and
      Quality" game on "Level 1" and work your way up through the levels. Each
      new level adds one new interval in an intentional sequence that is
      designed to provide a gradual and incremental learning curve. (See <a
        href={urlDir + "intervals/"}>Intervals</a
      >.) In addition to the levels it can be helpful to practice the intervals
      with just odd or just even numbers of semitones in isolation. You can also
      fully customize which intervals you want to include or exclude from a
      game.
    </p>
    <p>
      For a different interval challenge, you can work your way up the levels of
      the "Intervals: Numbers Only" game where you just identify the intervals
      by number ("third") rather than number and quality ("major third"), which
      is more like reading intervals in traditional music notation (where the
      quality of intervals is not explicitly visible on the staff).
    </p>
    <p>
      The "Notes: Trumpet" game helps you learn trumpet fingerings, and it
      assumes that you are reading notes in concert pitch and playing them on a
      B-flat trumpet. (Note that this is not the usual way music for B-flat
      instruments is written in traditional music notation, where a B-flat note
      is written as a C.)
    </p>
    <p>
      The score is the total number of correct responses minus the number of
      incorrect responses. If you hover your cursor over the score with your
      mouse, you can see the breakdown of correct and incorrect responses.
    </p>
    {
      dn && (
        <p>
          Have a MIDI keyboard or other MIDI instrument? Download the{" "}
          <a href={urlDir + "notetrainer-application/"}>NoteTrainer</a>
          application.
        </p>
      )
    }
  </article>
</Layout>
