---
import type { PageComponentProps } from "../types/types";
import Layout from "../layouts/Layout.astro";
import NewsletterSubscriptionForm from "../components/NewsletterSubscriptionForm.astro";

import PageTitle from "../components/PageTitle.astro";

type Props = PageComponentProps;
const props = Astro.props;
const { sn, urlDir } = props;
const title = "Clairnote Newsletter";
const description =
  "Subscribe to the Clairnote Newsletter to get occasional news and updates.";
---

<Layout title={title} description={description} {...props}>
  <article class="page">
    <PageTitle>{title}</PageTitle>
    <p>
      Subscribe to our newsletter to get occasional news and updates by email.
      It's a great way to find out when new blog posts are published. Typically
      there are between two and twelve messages per year.
    </p>
    <NewsletterSubscriptionForm sn={sn} />
    <p>
      Once you're subscribed, check out the{" "}
      <a href={urlDir + "community/"}>Community</a> page.
    </p>
  </article>
</Layout>
