---
import type { PageComponentProps } from "../types/types";
import Layout from "../layouts/Layout.astro";
import WebsiteSearchBox from "../components/WebsiteSearchBox.astro";

import utilStyles from "../styles/util.module.css";
import PageTitle from "../components/PageTitle.astro";

type Props = PageComponentProps;
const props = Astro.props;
const title = "Search this Website";
const description = "Search the Clairnote music notation website.";
---

<Layout title={title} description={description} {...props}>
  <article class="page">
    <PageTitle>{title}</PageTitle>
  </article>
  <p
    class={utilStyles.textAlignCenter}
    style={{ textAlign: "center !important" }}
  >
    <WebsiteSearchBox placeholder="" searchButtonText="Search" />
  </p>
  <p class={utilStyles.textAlignCenter}>
    Search clairnote.org, including blog posts, using DuckDuckGo.
  </p>
  <p class={utilStyles.textAlignCenter}>
    The results will appear in a new browser tab on duckduckgo.com.
  </p>
</Layout>
