---
import type { PageComponentProps } from "../types/types";
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import SheetMusicComponent from "../components/SheetMusicComponent/SheetMusicComponent";

type Props = PageComponentProps;
const props = Astro.props;

const title = "Sheet Music";
const description = `A collection of sheet music in ${props.clairnoteName} music notation. Free to download, print, copy, modify, perform, etc. Thanks to the Mutopia Project, the Session, and LilyPond.`;
---

<Layout title={title} description={description} {...props}>
  <article class="page">
    <PageTitle>{title}</PageTitle>
    {/* Set a height on the div to prevent layout shift. */}
    <div style={{ minHeight: "1900px" }}>
      <SheetMusicComponent client:load {...props} />
    </div>
  </article>
</Layout>
