---
import Layout from "../layouts/Layout.astro";
import { snProps } from "../consts";
---

<Layout
  {...snProps}
  title="404: Not Found"
  description="This page does not exist."
>
  <h1>404: NOT FOUND</h1>
  <p>This page does not exist.</p>
</Layout>
