{/* Footer - shown on list pages and after single posts */}

<footer><slot /></footer>

<style>
  footer {
    color: hsl(0, 0%, 45.9%);
    font-size: 13px;
    margin: 0.6rem 0 2.75rem;
  }

  footer :global(a) {
    color: hsl(0, 0%, 45.9%);
  }
</style>
