---
import { blogPostToFullUrlPath } from "../utils/utils";
import type { CollectionEntry } from "astro:content";
import BlogPostMeta from "./BlogPostMeta.astro";
import BlogFooter from "./BlogFooter.astro";

export type Props = {
  posts: CollectionEntry<"blog">[];
};

const { posts } = Astro.props;
---

{
  posts.map((post) => {
    const { title, date, author, tags, special_byline } = post.data;

    return (
      <article>
        <h1 class={"title is-5 blogListTitle"}>
          <a href={blogPostToFullUrlPath(post)}>{title}</a>
        </h1>
        {/* This doesn't really work, gives you raw markdown.
        <div>
          <p class={blogStyles.blogListPostText}>
            {post.body.slice(0, 200)}
          </p>
        </div>
        */}
        <BlogFooter>
          <BlogPostMeta
            date={date}
            author={author}
            special_byline={special_byline}
            tags={tags}
          />
        </BlogFooter>
      </article>
    );
  })
}

<style>
  .blogListTitle {
    margin-bottom: 0.75rem !important;
  }

  .blogListTitle a {
    color: #1776bf;
    text-decoration: none !important;
  }

  .blogListTitle a:hover {
    text-decoration: underline !important;
  }

  /* .blogListPostText {
    margin-bottom: 0 !important;
  } */
</style>
