<script>
  document.addEventListener("DOMContentLoaded", () => {
    const toggleModal = () => {
      document
        .querySelector(".blog-comment-modal")
        ?.classList.toggle("is-active");
    };

    document
      .querySelector(".blog-comment-modal-link")
      ?.addEventListener("click", toggleModal);

    document
      .querySelector(".modal-background")
      ?.addEventListener("click", toggleModal);

    document
      .querySelector(".modal-close")
      ?.addEventListener("click", toggleModal);
  });
</script>

<span class="blog-comment-modal-link"><slot /></span>

<div class="modal blog-comment-modal">
  <div class="modal-background"></div>
  <div class="modal-content" style={{ fontSize: "16px" }}>
    <div class="box">
      <div class="block">
        <h3 class="title is-3">Submit a Blog Post Comment</h3>
      </div>
      <div class="block">To comment on a blog post, send an email to:</div>
      <div class="block">[...] at [...] dot org</div>
      <div class="block">
        Replace both of the missing parts with "clairnote". (Obfuscated to
        thwart spam bots.)
      </div>
      <div class="block">
        Please mention which blog post you are commenting on.
      </div>
      <div class="block">
        (Eventually we want to have a better system for this.)
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
