---
import {
  yearsFromPosts,
  slugFromTag,
  tagsFromPosts,
  getBlogPosts,
  blogPostToFullUrlPath,
} from "../utils/utils";

const posts = await getBlogPosts();
const tags = tagsFromPosts(posts);
const years = yearsFromPosts(posts);
---

<div role="complementary">
  <aside class={"blogSidebarSection"}>
    <h2 class={"blogSidebarTitle"}>
      <a href={"/blog/"}>The Clairnote Blog</a>
    </h2>
    <div>News, updates, developments.</div>
  </aside>
  <aside class={"blogSidebarSection"}>
    <h2 class={"blogSidebarTitle"}>Follow</h2>
    <ul class={"blogSidebarLinksBlock"}>
      <li>
        <a title="Follow blog posts by email" href={"/blog/follow-by-email/"}>
          Email
        </a>
      </li>
      <li>
        <a
          title="Follow blog posts on Mastodon"
          href="https://mastodon.social/@clairnote"
          target="_blank"
          rel="external noopener noreferrer"
        >
          Mastodon
        </a>
      </li>
      <li>
        <a
          title="Follow blog posts on Facebook"
          href="https://www.facebook.com/ClairnoteMusicNotation"
          target="_blank"
          rel="external noopener noreferrer"
        >
          Facebook
        </a>
      </li>
      <li>
        <a
          title="Follow blog posts by RSS feed"
          href={"/rss.xml"}
          rel="alternate"
          type="application/rss+xml"
        >
          RSS
        </a>
      </li>
    </ul>
  </aside>
  <aside class={"blogSidebarSection"}>
    <h2 class={"blogSidebarTitle"}>Posts by Tag</h2>
    <ul class={"blogSidebarLinksBlock"}>
      {
        tags.map(({ tagName, count }) => (
          <li>
            <a href={`/blog/tag/${slugFromTag(tagName)}/`}>
              {tagName} ({count})
            </a>
          </li>
        ))
      }
    </ul>
  </aside>
  <aside class={"blogSidebarSection"}>
    <h2 class={"blogSidebarTitle"}>Posts by Year</h2>
    <ul class={"blogSidebarLinksBlock"}>
      {
        years.map((year) => (
          <li>
            <a href={`/blog/${year}/`}>{year}</a>
          </li>
        ))
      }
    </ul>
  </aside>
  <aside class={"blogSidebarSection"}>
    <h2 class={"blogSidebarTitle"}>Posts</h2>
    <ul>
      {
        posts.slice(0, 99).map((post) => (
          <li>
            <a href={blogPostToFullUrlPath(post)}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </aside>
</div>

<style>
  .blogSidebarTitle {
    font-size: 14px;
    color: hsl(0, 0%, 38.8%);
    font-weight: 700;
  }

  .blogSidebarSection {
    margin: 0 0 2rem;
    font-size: 13px;
  }

  .blogSidebarSection a {
    text-decoration: none;
    color: #1776bf;
  }

  .blogSidebarSection a:hover {
    text-decoration: underline;
  }

  .blogSidebarSection li {
    line-height: 1rem;
    margin: 0.8rem 0;
  }

  .blogSidebarLinksBlock {
    display: flex;
    flex-wrap: wrap;
  }

  .blogSidebarLinksBlock li {
    padding: 0.8rem 1rem 0rem 0;
    margin: 0;
  }
</style>
