---
export interface Props {
  sn: boolean;
}

const { sn } = Astro.props;
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document
      .querySelector(".embeddable-buttondown-form")
      ?.addEventListener("submit", () => {
        window.open("https://buttondown.email/clairnote", "popupwindow");
      });
  });
</script>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/clairnote"
  method="post"
  target="popupwindow"
  class="embeddable-buttondown-form"
>
  <div class="field">
    <label class="label" for="bd-email"> Enter Your Email Address</label>
    <div class="control">
      <input
        class="input"
        placeholder="Email Address"
        type="email"
        name="email"
        id="bd-email"
      />
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input
        class={`button ${sn ? "is-primary" : "is-info"}`}
        type="submit"
        value="Subscribe"
      />
    </div>
  </div>
  <p class="is-size-7">
    <a href="https://buttondown.email" target="_blank">
      Powered by Buttondown.
    </a>
  </p>
</form>
