---
export interface Props {
  href: string;
  title: string;
}

const { title, href } = Astro.props;
---

<div>Next Page:</div>
<h2 class="title is-5">
  <a title={title} href={href}>
    {title}
  </a>
</h2>

<style>
  a {
    color: #1776bf;
    text-decoration: none !important;
  }

  a:hover {
    text-decoration: underline !important;
  }
</style>
