---
export interface Props {
  num: number;
}

const { num } = Astro.props;
---

<sup id={`ftnref${num}`}>
  <a href={`#ftn${num}`}>[{num}]</a>
</sup>

<style>
  sup {
    /* Prevents messing with the usual line-height spacing of the text. */
    line-height: 0em;
  }

  sup a,
  a:hover {
    font-size: 15px;
    text-decoration: none;
  }
</style>
