<div><slot /></div>

<style>
  div {
    border-top: 2px solid #ccc;
    margin: 4em 0 0;
    padding: 2em 0 0;
    font-size: small;
    text-align: left;
  }

  div :global(li) {
    margin: 0 2em 2em 3em !important;
  }

  /* TODO: image missing */
  /* div :global(.footnoteReturn) { */
  /* background: url(http://clairnote.org/images/uptotext.png) no-repeat 100% 40%; */
  /* padding-right: 20px; */
  /* } */
</style>
