---
import pageStyles from "../styles/page.module.css";

export interface Props {
  dn: boolean;
  fileName: string;
}

const { dn, fileName } = Astro.props;

const snOrDn = dn ? "DN" : "SN";

const src = `/video/${fileName}-${snOrDn}`;

const initialWebmSrc = src + ".webm";
const initialMp4Src = src + ".mp4";

const buttonClass = `button is-small ${pageStyles.buttonLight}`;
---

<script define:vars={{ snOrDn }}>
  document.addEventListener("DOMContentLoaded", () => {
    const swap = (file) => {
      const vidSelector = "#video-element";

      const vid = document.querySelector(vidSelector);
      if (!vid) return;

      const clone = vid.cloneNode(true);
      const sources = clone.querySelectorAll("source");

      const path = `/video/${file}-${snOrDn}`;

      sources[0]?.setAttribute("src", path + ".webm");
      sources[1]?.setAttribute("src", path + ".mp4");

      vid.replaceWith(clone);
      document.querySelector(vidSelector)?.play();
    };

    [
      {
        id: "blue-danube-waltz-button",
        file: "Strauss-Blue-Danube-Waltz-Clairnote",
      },
      {
        id: "somewhere-over-the-rainbow-button",
        file: "Somewhere-Over-the-Rainbow-Clairnote",
      },
      {
        id: "do-re-mi-button",
        file: "Do-Re-Mi-Clairnote",
      },
      {
        id: "greensleeves-button",
        file: "Traditional-Greensleeves-Clairnote",
      },
      {
        id: "wtk1-prelude-button",
        file: "Bach-WTK1-Prelude1-Clairnote",
      },
      {
        id: "fuer-elise-button",
        file: "Beethoven-Fuer-Elise-Clairnote",
      },
      {
        id: "joplin-entertainer-button",
        file: "Joplin-Entertainer-Clairnote",
      },
    ].forEach(({ id, file }) =>
      document.getElementById(id)?.addEventListener("click", () => swap(file))
    );
  });
</script>

{/* eslint-disable-next-line jsx-a11y/media-has-caption */}
<video
  id="video-element"
  style={{ height: "360px", marginBottom: "1.8em" }}
  class={pageStyles.videoBoxed}
  controls={true}
  preload="auto"
  width="640"
  height="360"
>
  <source src={initialWebmSrc} type="video/webm" />
  <source src={initialMp4Src} type="video/mp4" />
  Your browser does not support the "video" element.
</video>
<div class="buttons is-centered">
  <button id="blue-danube-waltz-button" class={buttonClass}>
    The Blue Danube Waltz, by J.J. Strauss
  </button>
  <button id="somewhere-over-the-rainbow-button" class={buttonClass}>
    Somewhere Over the Rainbow
  </button>
  <button id="do-re-mi-button" class={buttonClass}>
    Do Re Mi from the Sound of Music
  </button>
  <button id="greensleeves-button" class={buttonClass}> Greensleeves</button>
  <button id="wtk1-prelude-button" class={buttonClass}>
    The Well Tempered Clavier I, Prelude I, by J.S. Bach
  </button>
  <button id="fuer-elise-button" class={buttonClass}>
    Für Elise by L.V. Beethoven
  </button>
  <button id="joplin-entertainer-button" class={buttonClass}>
    The Entertainer by Scott Joplin
  </button>
</div>
