---
/**
 * @see https://stackoverflow.com/questions/7259209/simple-site-search-with-duckduckgo
 */

export interface Props {
  placeholder: string;
  searchButtonText: string;
  sites?: string;
}

const { placeholder, searchButtonText } = Astro.props;

const sites = Astro.props.sites || "clairnote.org";
---

<script define:vars={{ sites }}>
  document.addEventListener("DOMContentLoaded", () => {
    document
      .querySelector(".search-form")
      ?.addEventListener("submit", (event) => {
        event.preventDefault();

        const form = event.target;

        // @ts-ignore
        const query = form?.elements?.q?.value || "";

        window.open(
          `https://duckduckgo.com/?q=${query}&sites=${sites}`,
          "_blank"
        );
      });
  });
</script>

<form class="search-form">
  <div class="field has-addons has-addons-centered">
    <div class="control">
      <input
        id="searchBox"
        class="input"
        type="text"
        placeholder={placeholder}
        name="q"
      />
    </div>
    <div class="control">
      <button class="button" id="" value="Search">
        {searchButtonText}
      </button>
    </div>
  </div>
</form>
