---
import NavItemToLi from "./NavItemToLi.astro";
import NavItemToMobileLink from "./NavItemToMobileLink.astro";
import type {
  NavItem,
  PageLayoutPropsPlusPathname,
  PrimaryMenuItemKey,
} from "./types";

export type Props = PageLayoutPropsPlusPathname;

const props = Astro.props;

const { urlDir, clairnoteName, otherClairnoteName, sn, dn, isBlog, pathname } =
  props;

// Remove "/dn/" (if it's there) to get "base" path for both sn and dn sites.
const basePath = pathname?.slice(dn ? 4 : 1);

const navRecord: Record<
  PrimaryMenuItemKey,
  { slug: string; subItems: NavItem[] }
> = {
  about: {
    slug: "about/",
    subItems: [
      { slug: "staff/", label: "Staff" },
      { slug: "scales/", label: "Scales" },
      { slug: "intervals/", label: "Intervals" },
      { slug: "chords/", label: "Chords" },
      { slug: "clefs/", label: "Clefs" },
      { slug: "key-signatures/", label: "Key Signatures" },
      { slug: "accidental-signs/", label: "Accidental Signs" },
      {
        slug: "names-of-notes-and-intervals/",
        label: "Names",
        mobileLabel: "Names of Notes and Intervals",
      },
      {
        slug: "rhythm-notation/",
        label: "Rhythm",
        mobileLabel: "Rhythm Notation",
      },
      { slug: "faq/", label: "FAQ" },
      {
        slug: "clairnote-dn-clairnote-sn/",
        label: sn ? "DN" : "SN",
        mobileLabel: `${clairnoteName} and ${otherClairnoteName}`,
      },
    ],
  },
  learn: {
    slug: "learn/",
    subItems: [
      {
        slug: "notetrainer-application/",
        label: "NoteTrainer",
        dnOnly: true,
      },
    ],
  },
  sheetMusic: {
    slug: "sheet-music/",
    subItems: [
      {
        slug: "about-sheet-music/",
        label: "About",
        mobileLabel: "About Sheet Music",
      },
      { slug: "blank-staff-paper/", label: "Blank Staff Paper" },
      {
        slug: "handwritten-sheet-music/",
        label: "Handwritten",
        mobileLabel: "Handwritten Sheet Music",
        dnOnly: true,
      },
    ],
  },
  software: {
    slug: "software/",
    subItems: [
      {
        url: "https://lilybin.clairnote.org",
        label: "LilyBin + Clairnote",
      },
      {
        slug: "software-musescore/",
        label: "MuseScore",
        mobileLabel: "Software: MuseScore",
        dnOnly: true,
      },
    ],
  },
  community: {
    slug: "community/",
    subItems: [],
  },
  blog: {
    slug: "blog/",
    subItems: [],
  },
};

const reduceToSlug = (result: string[], item: NavItem) => {
  if ("slug" in item) {
    result.push(item.slug);
  }
  return result;
};

const slugs = {
  about: new Set([
    navRecord.about.slug,
    ...navRecord.about.subItems.reduce(reduceToSlug, []),
  ]),
  learn: new Set([
    navRecord.learn.slug,
    ...navRecord.learn.subItems.reduce(reduceToSlug, []),
  ]),
  sheetMusic: new Set([
    navRecord.sheetMusic.slug,
    ...navRecord.sheetMusic.subItems.reduce(reduceToSlug, []),
  ]),
  software: new Set([
    navRecord.software.slug,
    ...navRecord.software.subItems.reduce(reduceToSlug, []),
  ]),
  community: new Set([
    navRecord.community.slug,
    ...navRecord.community.subItems.reduce(reduceToSlug, []),
  ]),
};
---

{/* Minimal JS to toggle the hamburger menu. */}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const burger = document.getElementById("navbarBurger");
    const main = document.getElementById("navbarMain");

    burger?.addEventListener("click", () => {
      burger.classList.toggle("is-active");
      main?.classList.toggle("is-active");
    });
  });
</script>

<!-- Add `is-fixed-top` class to `nav` for navbar staying fixed at the top. -->
<nav
  class={`navbar ${sn ? "is-primary" : "is-info"}`}
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    {/* Home */}
    <div class={`navbar-brand navOneLinkSpacing`}>
      <a
        class={`navbar-item navOneLink`}
        href={urlDir}
        title={clairnoteName + " Music Notation"}
        rel={"home"}
      >
        {clairnoteName}
      </a>
      <a
        id="navbarBurger"
        role="button"
        class={"navbar-burger"}
        aria-label="menu"
        data-target="navbarMain"
        aria-expanded="false"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class={"navbar-menu"}>
      <div class="navbar-start">
        {/* About */}
        <div class={`navbar-item has-dropdown navOneLinkSpacing `}>
          <a
            href={urlDir + navRecord.about.slug}
            class={`navbar-link is-arrowless navOneLink ` +
              (slugs.about.has(basePath) ? "navOneLinkActive" : "")}
          >
            About
          </a>
          <div class={`navbar-dropdown navbarDropdown`}>
            {
              navRecord.about.subItems.map((item) => (
                <NavItemToMobileLink item={item} sn={sn} urlDir={urlDir} />
              ))
            }
          </div>
        </div>

        {/* Learn */}
        {
          sn && (
            <a
              href={urlDir + navRecord.learn.slug}
              class={
                `navbar-item navOneLinkSpacing navOneLink navbarDropdown ` +
                (slugs.learn.has(basePath) ? "navOneLinkActive" : "")
              }
            >
              Learn
            </a>
          )
        }
        {
          dn && (
            <div class={`navbar-item has-dropdown navOneLinkSpacing `}>
              <a
                href={urlDir + navRecord.learn.slug}
                class={
                  `navbar-link is-arrowless navOneLink ` +
                  (slugs.learn.has(basePath) ? "navOneLinkActive" : "")
                }
              >
                Learn
              </a>
              <div class={`navbar-dropdown navbarDropdown`}>
                {navRecord.learn.subItems.map((item) => (
                  <NavItemToMobileLink item={item} sn={sn} urlDir={urlDir} />
                ))}
              </div>
            </div>
          )
        }

        {/* Sheet Music */}
        <div class={`navbar-item has-dropdown navOneLinkSpacing `}>
          <a
            href={urlDir + navRecord.sheetMusic.slug}
            class={`navbar-link is-arrowless navOneLink ` +
              (slugs.sheetMusic.has(basePath) ? "navOneLinkActive" : "")}
          >
            Sheet Music
          </a>
          <div class={`navbar-dropdown navbarDropdown`}>
            {
              navRecord.sheetMusic.subItems.map((item) => (
                <NavItemToMobileLink item={item} sn={sn} urlDir={urlDir} />
              ))
            }
          </div>
        </div>

        {/* Software */}
        <div class={`navbar-item has-dropdown navOneLinkSpacing`}>
          <a
            href={urlDir + navRecord.software.slug}
            class={`navbar-link is-arrowless navOneLink ${
              slugs.software.has(basePath) ? "navOneLinkActive" : ""
            }`}
          >
            Software
            <span class={`navOneLinkExtraText`}> : LilyPond</span>
          </a>
          <div class={`navbar-dropdown navbarDropdown`}>
            {
              navRecord.software.subItems.map((item) => (
                <NavItemToMobileLink item={item} sn={sn} urlDir={urlDir} />
              ))
            }
          </div>
        </div>

        {/* Community */}
        <a
          href={urlDir + navRecord.community.slug}
          class={`navbar-item navOneLinkSpacing navOneLink navbarDropdown ` +
            (slugs.community.has(basePath) ? "navOneLinkActive" : "")}
        >
          Community
        </a>

        {/* Blog */}
        <a
          href={`/${navRecord.blog.slug}`}
          class={`navbar-item navOneLinkSpacing navOneLink navbarDropdown ` +
            (isBlog ? "navOneLinkActive" : "")}
          style={{ borderBottom: "0px" }}
        >
          Blog
        </a>
      </div>
    </div>
  </div>
</nav>

{/* Secondary navigation bar shown on larger screens. */}
{
  slugs.about.has(basePath) && (
    <div class={`tabs is-centered navTwo`}>
      <ul>
        {navRecord.about.subItems.map((item) => (
          <NavItemToLi
            item={item}
            sn={sn}
            urlDir={urlDir}
            basePath={basePath}
          />
        ))}
      </ul>
    </div>
  )
}
{
  dn && slugs.learn.has(basePath) && (
    <div class={`tabs is-centered navTwo`}>
      <ul>
        {navRecord.learn.subItems.map((item) => (
          <NavItemToLi
            item={item}
            sn={sn}
            urlDir={urlDir}
            basePath={basePath}
          />
        ))}
      </ul>
    </div>
  )
}
{
  slugs.sheetMusic.has(basePath) && (
    <div class={`tabs is-centered navTwo`}>
      <ul>
        {navRecord.sheetMusic.subItems.map((item) => (
          <NavItemToLi
            item={item}
            sn={sn}
            urlDir={urlDir}
            basePath={basePath}
          />
        ))}
      </ul>
    </div>
  )
}
{
  slugs.software.has(basePath) && (
    <div class={`tabs is-centered navTwo`}>
      <ul>
        {navRecord.software.subItems.map((item) => (
          <NavItemToLi
            item={item}
            sn={sn}
            urlDir={urlDir}
            basePath={basePath}
          />
        ))}
      </ul>
    </div>
  )
}

<style>
  @import "../../styles/vars.css";

  /* Prevent bulma's subtle background color on hover/focus of burger menu. */
  .navbar-burger:hover {
    background-color: unset;
  }

  /* navOne and navTwo refer to the primary and secondary nav bars. */

  .navOneLink:hover,
  .navOneLink:focus {
    background-color: transparent !important;
  }

  .navTwo {
    background-color: var(--grey-lighter-background);
    border-top: 1px solid var(--grey-lighter-border) !important;
    display: none !important;
    margin-bottom: 0 !important;
  }

  .navTwo > ul {
    border-bottom-color: var(--grey-lighter-border) !important;
  }

  .navTwo :global(a:hover),
  .navTwo :global(a:focus) {
    border-bottom-color: var(--grey-lighter-border) !important;
  }

  .navTwo :global(a:hover) {
    text-decoration: underline !important;
  }

  @media screen and (max-width: 1024px) {
    /* Only on smaller (mobile/tablet) screens. */

    .navbarDropdown {
      border-bottom: 1px solid var(--grey-lighter-border);
    }
  }

  @media screen and (min-width: 1024px) {
    /* Only on larger (desktop) screens. */

    .navOneLink:hover {
      text-decoration: underline !important;
    }

    .navOneLinkActive {
      text-decoration: underline !important;
    }

    .navOneLinkExtraText {
      display: none;
    }

    .navOneLinkSpacing {
      /*
       Put this class on various elements that are, or contain, navbar links.
       The idea is to give them just enough margin so that they are spread
       evenly across the whole width of the navbar. To measure this, put a
       temporary background color on the "container" div and adjust the
       margin-right below until the last navbar link text is right at the
       edge of the "container".
    */
      margin-right: 3.84rem;
    }

    .navTwo {
      display: flex !important;
    }

    :global(.navTwoActive) {
      text-decoration: underline !important;
    }
  }
</style>
