---
import type { NavItem } from "./types";

/**
 * Used for the submenu items shown on small/mobile screens.
 */

export interface Props {
  item: NavItem;
  sn: boolean;
  urlDir: "/dn/" | "/";
}
const props = Astro.props;

const { sn, item, urlDir } = props;

const label = item.mobileLabel || item.label;
---

{
  sn && item.dnOnly ? null : "url" in item ? (
    <a class="navbar-item" href={item.url} target="_blank">
      {label}
    </a>
  ) : (
    <a href={urlDir + item.slug} class="navbar-item">
      {label}
    </a>
  )
}
