---
import type { NavItem } from "./types";

/**
 * Used for the submenu items shown on large screens.
 *
 * Must be a child of <Header> for "navTwoActive" class to take effect.
 */

export interface Props {
  item: NavItem;
  sn: boolean;
  urlDir: "/dn/" | "/";
  basePath: string;
}

const props = Astro.props;

const { sn, item, urlDir, basePath } = props;
---

{
  sn && item.dnOnly ? null : "url" in item ? (
    <li>
      <a href={item.url} target={"_blank"}>
        {item.label}
      </a>
    </li>
  ) : (
    <li>
      <a
        href={urlDir + item.slug}
        class={basePath === item.slug ? "navTwoActive" : ""}
      >
        {item.label}
      </a>
    </li>
  )
}
