---
import type { PageLayoutProps } from "../types/types";

const snColor = "#547878"; // hsl(180, 17.6%, 40%)
const snColorDarker = "hsl(180, 17.6%, 30%)";

const dnColor = "#545578"; // hsl(238.3, 17.6%, 40%)
const dnColorDarker = "hsl(238.3, 17.6%, 30%)";

export type Props = PageLayoutProps;

const {
  sn,
  urlDir,
  clairnoteName,
  isBlog,
  otherUrlDir,
  otherClairnoteName,
  dn,
} = Astro.props;

const url = Astro.url;

// On blog pages we go to the DN home page, otherwise we
// remove "/dn/" or "/" (4 or 1) from the front of pathname.
const snToDnLinkHref = isBlog
  ? otherUrlDir
  : otherUrlDir + url.pathname.slice(dn ? 4 : 1);

const from = clairnoteName.slice(clairnoteName.length - 2);
const to = otherClairnoteName.slice(otherClairnoteName.length - 2);
/* The arrow is unicode: U+279E */
const snToDnLinkText = `${from} ➞ ${to}`;
---

<footer>
  <div class={`section footerSection footerSectionVeryLight`}>
    <div class="container">
      <nav class="level">
        <div class={`level-left buttonLinksPlacement`}>
          <div class="level-item">
            <div class={`footerSectionTitle`}>Follow Clairnote</div>
          </div>
          <div class="level-item">
            <a
              class={`button is-ghost ${""}`}
              title="Subscribe to Get Occasional Updates"
              href="/newsletter/"
            >
              Email Newsletter
            </a>
          </div>
          <div class="level-item">
            <a
              class={`button is-ghost ${""}`}
              title="Clairnote on Mastodon"
              href="https://mastodon.social/@clairnote"
              target="_blank"
              rel="external noopener noreferrer"
            >
              Mastodon
            </a>
          </div>
          <div class="level-item">
            <a
              class={`button is-ghost ${""}`}
              title="Clairnote on Facebook"
              href="https://www.facebook.com/ClairnoteMusicNotation"
              target="_blank"
              rel="external noopener noreferrer"
            >
              Facebook
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div
    class={`section footerSection footerSectionDark`}
    style={{
      backgroundColor: sn ? snColor : dnColor,
    }}
    role="contentinfo"
  >
    <div class="container">
      <div class="level">
        <div class={`level-left buttonLinksPlacement`}>
          <div class="level-item">
            <div class={`footerSectionTitle`}>Questions or Comments?</div>
          </div>
          <div class="level-item">
            <a
              href={urlDir + "contact/"}
              title={"Contact Us"}
              class={`button is-ghost buttonLink`}
            >
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class={`section footerSection footerSectionDark`}
    style={{
      backgroundColor: sn ? snColorDarker : dnColorDarker,
    }}
    role="contentinfo"
  >
    <div class="container">
      <nav class="level">
        <div class={`level-left buttonLinksPlacement`}>
          <div class="level-item">
            <a
              class={`button is-ghost buttonLink`}
              title="Search clairnote.org"
              href={urlDir + "search/"}
            >
              Search this Site
            </a>
          </div>
          <div class="level-item">
            <a
              href={snToDnLinkHref}
              title={`Switch to ${otherClairnoteName} Website`}
              class={`button is-ghost buttonLink`}
            >
              {snToDnLinkText}
            </a>
          </div>
          <div class="level-item">
            <a class={`button is-ghost buttonLink`} href="#page">
              Top of Page
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div
    class={`section footerSection footerSectionDark`}
    style={{
      backgroundColor: sn ? snColorDarker : dnColorDarker,
    }}
  >
    <div class="container">
      <p class={`fine-print finePrint`}>
        {clairnoteName} music notation and except where otherwise noted the content
        of the clairnote.org website are licensed under a{" "}
        <a
          href="http://creativecommons.org/licenses/by-sa/4.0/"
          target="_blank"
          rel="license external noopener noreferrer"
        >
          Creative Commons Attribution-ShareAlike 4.0 International License
        </a>. See also{" "}
        <a
          href="http://musicnotation.org"
          target="_blank"
          rel="external noopener noreferrer"
        >
          The Music Notation Project
        </a>{" "}and{" "}
        <a
          href="https://twinnote.clairnote.org"
          target="_blank"
          rel="external noopener noreferrer"
        >
          TwinNote Music Notation
        </a>.
      </p>
    </div>
  </div>
</footer>

<style>
  @import "../styles/vars.css";

  .footerSectionVeryLight {
    background-color: var(--grey-lighter-background);
    border-top: 1px solid var(--grey-lighter-border) !important;
  }

  .footerSectionDark {
    color: #fff;
  }

  .footerSectionTitle {
    /* Matches Bulma's `button is-ghost` */
    border-width: 1px;
    border-color: transparent;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    /* Plus additional styles */
    font-weight: bold;
  }

  .buttonLink {
    color: #fff !important;
  }

  @media screen and (min-width: 1024px) {
    .footerSection {
      padding-top: 1.5em !important;
      padding-bottom: 1.5em !important;
    }

    /* This aligns text of the first button/link with the left side of the page,
   undoing the left margin of the first button/link. */
    .buttonLinksPlacement {
      margin-left: -1em;
    }
  }

  /* FINE PRINT */

  .finePrint {
    font-size: 12px;
    line-height: 2;
    margin-bottom: 1rem;
    padding: 0;
  }

  .finePrint:last-child {
    margin-bottom: 0;
  }

  .finePrint a {
    color: #fff;
    text-decoration: underline;
  }

  .finePrint a:hover {
    color: #fff;
  }
</style>
