---
import "../styles/main.scss";

import type { PageLayoutProps } from "../types/types";

import Footer from "./Footer.astro";
import Header from "./Header/Header.astro";

import { dnOnlyPages } from "../consts";
import BlogSidebar from "../components/BlogSidebar.astro";

export type Props = PageLayoutProps;

const props = Astro.props;

const { title, description, isBlog, clairnoteName } = props;

const getCanonicalUrl = (pathname: string) => {
  const dnPath = pathname.slice(0, 4) === "/dn/";
  // slug includes slashes: '/notetrainer-application/'
  const slug = dnPath ? pathname.slice(3) : pathname;
  const dnOnlyPage = dnOnlyPages.includes(slug);

  const path =
    !dnOnlyPage && dnPath
      ? pathname.slice(3)
      : dnOnlyPage && !dnPath
      ? "/dn" + pathname
      : pathname;

  return new URL(path, Astro.site);
};

const getTitle = () => {
  const siteTitle = (isBlog ? "Clairnote" : clairnoteName) + " Music Notation";
  return title ? `${title} | ${siteTitle}` : siteTitle;
};

const canonicalUrl = getCanonicalUrl(Astro.url.pathname);
const metaTitle = getTitle();
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalUrl} />
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    {description && <meta name="description" content={description} />}
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
  </head>
  <body id="page">
    <Header {...props} pathname={Astro.url.pathname} />

    {
      !props.isBlog && (
        <div class={"section primaryContent"}>
          <div class="container">
            <slot />
          </div>
        </div>
      )
    }
    {
      props.isBlog && (
        <div class="section">
          <div class="container">
            <div class="columns is-variable is-8-desktop">
              <div class={"column is-two-thirds primaryContent"}>
                <slot />
              </div>
              <div class="column">
                <BlogSidebar />
              </div>
            </div>
          </div>
        </div>
      )
    }

    <Footer {...props} />
  </body>
</html>

<style is:global>
  .primaryContent {
    min-height: 550px;
  }

  .primaryContent p {
    line-height: 1.8em;
    margin-bottom: 1.8em;
  }

  .primaryContent a {
    text-decoration: underline;
  }

  /**
   * Bulma's default border for form elements is too light.
   * The color is the same as Bulma's hover color, so this
   * removes the change on hover.
   */
  .primaryContent select,
  .primaryContent button,
  .primaryContent input {
    border-color: #b5b5b5;
  }

  /**
   * Bulma uses the link hover color for button hover, but we don't want the
   * button text color to change on hover.
   */
  .primaryContent button:hover {
    color: hsl(0, 0%, 21.2%);
  }

  .primaryContent ul {
    line-height: 1.8em;
    list-style: disc outside;
    margin: 0 0 1.8em;
  }

  .primaryContent ul ul {
    margin-bottom: 0;
  }

  .primaryContent li {
    margin: 0 0 0 1.5em;
  }

  @media screen and (min-width: 1024px) {
    .primaryContent li {
      margin: 0 0 0 2.5em;
    }
  }

  pre {
    margin-bottom: 1.8em;
  }
</style>
